<div id="<%= dom_id staff %>">
  <p>
    <strong>Staff id:</strong>
    <%= staff.staff_ID %>
  </p>

  <p>
    <strong>Staff name:</strong>
    <%= staff.staff_name %>
  </p>

  <p>
    <strong>Gender integer:</strong>
    <%= staff.gender_integer %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= staff.age %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= staff.address %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= staff.date_of_birth %>
  </p>

</div>
