<div id="<%= dom_id staff %>">
  <p>
    <strong>Staff name:</strong>
    <%= staff.staff_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= staff.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= staff.age %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= staff.address %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= staff.date_of_birth %>
  </p>

</div>
