<div id="<%= dom_id membership %>">
  <p>
    <strong>Mem id:</strong>
    <%= membership.mem_ID %>
  </p>

  <p>
    <strong>Mem name:</strong>
    <%= membership.mem_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= membership.gender %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= membership.date_of_birth %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= membership.contact %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= membership.address %>
  </p>

</div>
