<div id="<%= dom_id sale %>">
  <p>
    <strong>Product code:</strong>
    <%= sale.product_code_id %>
  </p>

  <p>
    <strong>Staff id:</strong>
    <%= sale.staff_ID_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= sale.date %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= sale.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= sale.price %>
  </p>

  <p>
    <strong>Grand total:</strong>
    <%= sale.grand_total %>
  </p>

</div>
