<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Sale</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to sales_path, class: button_class(theme: "transparent") do %>
      All Sales
      <% end %>
      <%= link_to edit_sale_path(@sale), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Product:</p>
        <p><%= @sale.product %></p>
      </li>
      <li>
        <p class="font-semibold">Staff:</p>
        <p><%= @sale.staff %></p>
      </li>
      <li>
        <p class="font-semibold">Date:</p>
        <p><%= @sale.date %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @sale.quantity %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @sale.price %></p>
      </li>
      <li>
        <p class="font-semibold">Grand total:</p>
        <p><%= @sale.grand_total %></p>
      </li>
  </ul>
</div>
